@tailwind base;
@tailwind components;
@tailwind utilities;
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #30343A;
}

body {
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input {
  outline: none;
}

.container {
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.text-primary {
  color: #1abc9c;
}

.bg-primary {
  background-color: #1abc9c;
}

.track {
  border: dashed 2px #666;
}

.animation-bounce-in-right {
  animation: bounce-in-out 3s forwards ease-in-out ;
}

@keyframes bounce-in-out {
  0% {
      transform: translateX(130%);
  }
  10% {
      transform: translateX(0);
  }
  85% {
      transform: translateX(0);
  }
  90% {
    transform: translateX(0) scale(0.85);
  }
  100% {
      transform: translateX(200%) scale(0.6);
  }
}